@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;400&display=swap');

* {
    box-sizing: border-box;
} 

:root{
    --primary-color: #22254b;
    --secondary-color: #373b69;
}

body {
    background-color: var(--primary-color);
    margin: 0;
    font-family: 'Poppins', sans-serif; 
}   

header{
    padding: 1rem;
    display: flex; 
    justify-content: center;
    align-items: center;
    background-color: var(--secondary-color);
}  

header h1 {
    opacity: 0.5;
    padding-right:15px ;
    
}

.search{
    background-color: transparent;
    border: 2px solid var(--primary-color); 
    padding: 0.5rem 1rem; 
    border-radius: 50px;
    font-family: inherit; 
    font-size: 1rem; 
    color: #fff;

} 

.search::placeholder {
    color: #7378c5;
  } 

  .search:focus {
      outline: none;
      background-color: var(--primary-color);
  } 

  /* Movie Area  -- MAIN*/

main {
    display: flex;
    /* to wrap into the next line as it would be 
    converted into a row */ 
    flex-wrap: wrap; 

} 
.movie {
    width: 300px;
    margin: 1rem; 
    background-color: var(--secondary-color);
    box-shadow: 0 4px 5px rgba(0, 0, 0, 0.2);
    position: relative;
    overflow: hidden;
    border-radius: 10px; 

} 

.movie img{
    width: 100%; 
} 

.movie-info{
    color: #eee;
    display: flex;
    align-items: baseline;
    justify-content: space-between;
    margin: 5px 10px; 
    letter-spacing: 1.5px;
} 

.movie-info span {
    background-color: var(--primary-color);
    padding: 0.25rem 0.5rem; 
    border-radius: 3px;
    font-weight: bold;
} 

.movie-info span.green{
    color: lightgreen;
}
.movie-info span.orange{
    color: orange;
}
.movie-info span.red{
    color:orangered;
} 

.overview {
    background-color: rgb(192, 136, 238);
    padding: 2rem;
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    max-height: 100%;
    transform: translateY(100%) ;
    transition: transform 0.4  s ease-in;
} 
.movie:hover .overview{
    transform: translateY(0);
}